
.hamburger-menu {
    display: none; /* Hide hamburger button on large screens */
}

nav {
    display: flex; 
    flex-direction: row;
    position: static;
    width: auto;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
}

nav a {
    border-top: none;
    background-color: #000;
}

.figure-grid {
    /* Change image grid to 3 columns on desktop screens */
    grid-template-columns: repeat(3, 1fr);
}